<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title class="text-center" >Lista de Convidados</title>

    <link href="/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>

<div class="container">
    <div class="row">
        <h1 class="panel-title">Cadastrar Convidados</h1>
    </div>
    <div>
        <form id="frmForm" action="" method="post">
            <fieldset>
                <input type="text" name="nome"/>
                <label >Nome</label>
                <input type="number" name="qtdAcompanhantes"/>
                <label >Quantidade Convidados</label>
                <button class="btn btn-primary" type="submit" >Cadastrar Convidado</button>
            </fieldset>
        </form>
    </div>
</div>

</body>

</html>
<script>

</script>